/* src/Styles/Header/Header.css */
.header {
    padding: 10px;
    background: #FFC0CB;
    text-align: center;
  }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header h1 {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 2rem;
    margin: 0;
  }
  
  .header .btn-home {
    background-color: #FF69B4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  